[submodule "trabago-backend"]
	path = trabago-backend
	url = https://github.com/DragosMoro/trabago-backend
[submodule "trabago-frontend"]
	path = trabago-frontend
	url = https://github.com/DragosMoro/trabago-frontend
